<!DOCTYPE html>
<html>
  <head>
	 <title>Home</title>
    <style>
       /* Set the size of the div element that contains the map */
      #map {
        height: 400px;  /* The height is 400 pixels */
        width: 100%;  /* The width is the width of the web page */
       }
    </style>
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<script  src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.js"></script>  
 	<link rel="stylesheet" href="../static/css/bootstrap.min.css" /> 
	
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="" />
	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
	<!-- bootstrap-css -->
	<link href="../static/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
	<!--// bootstrap-css -->
	<!-- css -->
	<link rel="stylesheet" href="../static/css/style.css" type="text/css" media="all" />
	<!--// css -->
	
	<!-- font-awesome icons -->
	<link href="../static/css/font-awesome.css" rel="stylesheet"> 
	<!-- //font-awesome icons -->
	<!-- font -->
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700italic,700,400italic,300italic,300' rel='stylesheet' type='text/css'>
	<!-- //font -->
	<script src="../static/js/jquery-1.11.1.min.js"></script>
	<script src="../static/js/bootstrap.js"></script>
	<script src="../static/js/SmoothScroll.min.js"></script>
	<script src="../static/js/jarallax.js"></script>
  </head>
  <body onload="displayAlert()">
  
    <div class="banner bg-about">
    	<div class="header-top about-header-top">
    		<div class="container banner-drop">
    			<div class="agile-logo">
    				<h1><a href="index.html">Dublin<span>Bike</span></a></h1>
    			</div>
    			<div class="header-right">
    					<nav>
    					  <ul>
    						<li class="active">
    							<a href="/map"><span>Home</span></a>
    						</li>
    						<li >
    							<a href="/prediction"><span>Prediction</span></a>
    						</li>
    						<li>
    							<a href="#"><span>Report</span></a>
    						</li>
    						<li>
    							<a href="#"><span>Gallery</span></a>
    						</li>
    						<li>
    							<a href="#"><span>Mail Us</span></a>
    						</li>
    						<li>
    							<a href="#"><span>Sign up</span></a>
    						</li>
							<li>
								<a href="#"><span>Log in</span></a>
							</li>
    					  </ul>
    					</nav>
    					<div class="menu-icon"><span></span></div>
    			</div>
    			<div class="clearfix"> </div>
    			<script>
    				(function($){
    				  $(".menu-icon").on("click", function(){
    						$(this).toggleClass("open");
    						$(".container").toggleClass("nav-open");
    						$("nav ul li").toggleClass("animate");
    				  });
    				  
    				})(jQuery);
    			</script>
    		</div>
    	</div>
    	<div class="w3ls-heading">
    		<h2>Dublin Bikes</h2>	
    	</div>
    </div>
    <!-- //banner -->
    	
		<!-- map -->
		<div class="services">
		<div class="container">
			
			<div id="alert" class="alert alert-success"></div>
			<div class="w3-services-grids"; id="main" style="width: 100%; ">
				<div id="left" style="width: 75%; float: left;" class="container">
					 <div id="map"></div>
					 
					
					 
				</div>
				</div>	
				<div id="right" style="width: 25%; float: left;" class="panel panel-info">
				    <div class="panel-heading">Stations Information</div>
				    <div class="panel-body">
						
				       <div id="information"></div>
						
				    </div>
				    <ul class="list-group">
				       <li class="list-group-item"> <div id="chart"></div></li> 
						
				        <li class="list-group-item"> </li>
				        <li class="list-group-item"> </li>
				        <li class="list-group-item">Bicycle Layer<button onclick="BLayerOpen()">On</button><button onclick="BLayerClose()">Off</button></li>
				        <li class="list-group-item"></li>
				        <li class="list-group-item"> </li>
				    </ul>
				</div>
				<div style="width: 100%;">
					 <div id="ch" style="width: 50%; float: left; height: 40%;">
						<canvas id="line-chart-week"></canvas>
					 </div>
					 <div id="ch2" style="width: 50%; float: left; height: 40%;">
						<canvas id="line-chart-day"></canvas>
					 </div>
				 </div>
				</div>
				</div>
		</div>
    	<!-- services -->
    	<div class="services">
    		<div class="container">
    			<div class="w3layouts-services-heading">
    				<h2>Our Services</h2>
    			</div>
    			<div class="w3-services-grids">
    				<div class="col-md-3 w3l-services-grid">
    					<div class="w3ls-services-img">
    						<i class="fa fa-male" aria-hidden="true"></i>
    					</div>
    					<div class="agileits-services-info">
    						<h4>Hiring a dublinbike</h4>
    						<p>Log in at the terminal using your Just Eat dublinbikes Annual Card, associated Leap Card or your 3 Day Ticket.
    Enter your PIN and select an available bike on screen, you then have 60 seconds to press the unlocking button on the stand of the bike you have chosen. Once you have pressed the button you have 5 seconds to remove the bike from the stand.</p>
    					</div>
    				</div>
    				<div class="col-md-3 w3l-services-grid">
    					<div class="w3ls-services-img">
    						<i class="fa fa-bicycle" aria-hidden="true"></i>
    					</div>
    					<div class="agileits-services-info">
    						<h4>Bikes</h4>
    						<p>Look out for the distinctive dublinbikes in Dublin city: easy to handle and robust, they are specially designed for city use. </p>
    					</div>
    				</div>
    				<div class="col-md-3 w3l-services-grid">
    					<div class="w3ls-services-img">
    						<i class="fa fa-cog" aria-hidden="true"></i>
    					</div>
    					<div class="agileits-services-info">
    						<h4>Station Terminal</h4>
    						<p>There is a terminal at every station. All terminals accept an Annual Card, an associated Leap Card or a 3 Day Ticket. A number of terminals have credit card facilities enabling you to purchase a 3 Day Ticket. </p>
    					</div>
    				</div>
    				<div class="col-md-3 w3l-services-grid">
    					<div class="w3ls-services-img">
    						<i class="fa fa-female" aria-hidden="true"></i>
    					</div>
    					<div class="agileits-services-info">
    						<h4>Returning a dublinbike</h4>
    						<p>When you have completed your journey simply locate the nearest station with available stands. An audio signal of 2 beeps and a green indicator light on the stand confirm that the bike is locked correctly and your usage is complete. If there are no available stands at the station, use the terminal to locate a nearby station with availability and Just Eat dublinbikes will give you 15 minutes free of charge to get there.</p>
    					</div>
    				</div>
    				<div class="clearfix"> </div>
    			</div>
    		</div>
    	</div>
    
    	<div class="rides">
    		<div class="container">
    			<div class="w3-agileits-rides-heading">
    				<h3>Milestone</h3>
    			</div>
    			<div class="agileits-w3layouts-rides-grids">
    				<div class="col-sm-4 rides-grid">
    					<div class="rides-grid-info">
    						<img src="../static/images/r1.jpg" alt="" />
    						<h4>Google Maps has introduced real-time updates for Dublinbikes</h4>
    						<p>DUBLIN COMMUTERS ARE now able to use Google Maps to check if a bike is free at their nearest Dublinbikes station.</p>
    					</div>
    				</div>
    				<div class="col-sm-4 rides-grid">
    					<div class="rides-grid-info">
    						<img src="../static/images/r2.jpg" alt="" />
    						<h4>Dublinbikes celebrates 10th Birthday of scheme</h4>
    						<p>The scheme, which was the first of its kind in Ireland, initially set its first-year membership target at 5,000 subscribers.  The service proved to be a great success from the beginning with more than 1,000 people signing up to use the bicycles on the first day alone and over 11,000 applying for membership in the first fortnight.</p>
    					</div>
    				</div>
    				<div class="col-sm-4 rides-grid">
    					<div class="rides-grid-info">
    						<img src="../static/images/r3.jpg" alt="" />
    						<h4>Bike Share Rental Schemes</h4>
    						<p>Dublin's hugely successful bike share rental scheme was introduced in September 2009 and has gone on to become one of the most succesful bike share rental schemes in the world.</p>
    					</div>
    				</div>
    				<div class="clearfix"> </div>
    			</div>
    			<div class="agileits-w3layouts-rides-grids">
    				<div class="col-sm-4 rides-grid">
    					<div class="rides-grid-info">
    						<img src="../static/images/r4.jpg" alt="" />
    						<h4>Record year as 50,000 now using Dublin bike scheme</h4>
    						<p>DUBLIN’S public bike-hire scheme has enjoyed a record-breaking year as an expansion has allowed it to top two million journeys.</p>
    						
    					</div>
    				</div>
    				<div class="col-sm-4 rides-grid">
    					<div class="rides-grid-info">
    						<img src="../static/images/r5.jpg" alt="" />
    						<h4>Dublinbikes Station Opens in Grangegorman</h4>
    						<p>Great news, more dublinbikes stations are coming to Dublin! This is another small step towards a more sustainable city and we heartily approve.</p>
    						
    					</div>
    				</div>
    				<div class="col-sm-4 rides-grid">
    					<div class="rides-grid-info">
    						<img src="../static/images/r6.jpg" alt="" />
    						<h4>Dublin Commuters Can Now Use Their Leap Cards For Dublin Bikes Scheme</h4>
    						<p>The initiative won’t allow people to pay for their bike trips from their LEAP Card account but rather it will allow them to hold their registration details for both schemes on the one card.</p>
    					</div>
    				</div>
    				<div class="clearfix"> </div>
    			</div>
    		</div>
    	</div>
    	<!-- //rides -->
    	
		
		
    	<!-- footer -->
    	<div class="footer">
    		<div class="container">
    			<div class="agile-footer-grids">
    				<div class="col-md-3 w3-agile-footer-grid">
    					<h3>About</h3>
    					<p>Some safety recommendations and helpful tips to travel with complete peace of mind around the city on dublinbikes.</p>
    				</div>
    				<div class="col-md-3 w3-agile-footer-grid">
    					<h3>Events</h3>
    					<ul>
    						<li>March 29th 2020 <a href="single.html">Covid-19 information</a></li>
    						<li>February 26th 2020<a href="single.html">Temporary Station Closure</a></li>
    						<li>January 30th 2020 <a href="single.html">Dublinbikes Service Update</a></li>
    						<li>February 20th 2020 <a href="single.html">Dublinbikes intermittent service disruption</a></li>
    						<li>October 17th 2019 <a href="single.html">KBC Dublin Marathon</a></li>
    					</ul>
    				</div>
    				<div class="col-md-3 w3-agile-footer-grid">
    					<h3>Navigation</h3>
    					<ul>
    						<li class="text"><a href="index.html">Home</a></li>
    						<li class="text"><a href="about.html">Prediction</a></li>
    						<li class="text"><a href="short-codes.html">Report</a></li>
    						<li class="text"><a href="gallery.html">Gallery</a></li>
    						<li class="text"><a href="training.html">Sign up</a></li>
    						<li class="text"><a href="mail.html">Contact</a></li>
    					</ul>
    				</div>
    				<div class="col-md-3 w3-agile-footer-grid">
    					<h3>Newsletter</h3>
    					<form action="#" method="post">
    						<input type="email" id="mc4wp_email" name="EMAIL" placeholder="Enter your email here" required="">
    						<input type="submit" value="Subscribe">
    					</form>
    				</div>
    				<div class="clearfix"> </div>
    			</div>
    		</div>
    	</div>
    	<!-- //footer -->
    	<!-- copyright -->
    	<div class="copyright">
    		<div class="container">
    			<p>Copyright &copy; 2020.Group 4 All rights reserved.</p>
    		</div>
    	</div>
   
	<script>
		$("#mytab a").click(function(e){
			e.preventDefault();
			$(this).tab("show");
		})
	</script>	
	
<script>
	function BLayerOpen(){
		var bikeLayer = new google.maps.BicyclingLayer();
		bikeLayer.setMap(window.map);
		window.bikeLayer = bikeLayer
	}
	
	function BLayerClose(){
		window.bikeLayer.setMap(null);
	}
	
	
	
</script>	
<script>
function setCookie(cname,cvalue)
{
  
  document.cookie=cname + "=" + cvalue + "; expires=Thu, 18 Dec 2043 12:00:00 GMT; path=/";
}

function getCookie(cname)
{
  var name = cname + "=";
  var ca = document.cookie.split(';');
  for(var i=0; i<ca.length; i++) 
  {
    var c = ca[i].trim();
    if (c.indexOf(name)==0) return c.substring(name.length,c.length);
  }
  return "error";
}

function displayAlert(){
	<!--document.getElementById("alert").innerHTML--> 
	position = getCookie('position');
	number = getCookie('number');
	if (number=="error"){
		document.getElementById("alert").innerHTML = "Welcome New User ~~~ Try to click a Marker and Refresh Page. We will remember you !";
	}
	else{
		window.position = position;
		window.number = number;
		//console.log(position);
		var p_data = {
			"position": position
		};
    		$.ajax({
    		    type: 'POST',
    		    url: '/check_rest',
    		    data: JSON.stringify(p_data),
    		    contentType: 'application/json; charset=UTF-8',
    		    dataType: 'json',
    		    success: function(data) {
    		    	var b = $.isEmptyObject(data);
    		    	if(b){
    		    		info = "<h3>Welcome Back!!! Your last selected station is "+ window.number +" NO information about this station</h3>";
    		    	}
    		    	else{
    		    		info = "Welcome Back!!! Your last selected station is "+ window.number + ", now have : "+data[0][3]+" available bike bikes";
    		    	}
    		    	
    		    	document.getElementById("alert").innerHTML = info;
    		    },
    		    error: function(xhr, type) {
    		    	info = "Welcome Back!!! Your last selected station is "+window.number+" NO information about this station";
    		    	document.getElementById("alert").innerHTML = info;
    		    }
    		});

		}
	
	}

</script>
	
<script>
// Initialize and add the map
var stations = {{stations|tojson}};
function initMap() {
  // The location of Uluru
  var uluru = {lat: 53.3450475,lng: -6.266618};
  // The map, centered at Uluru
  var map = new google.maps.Map(
      document.getElementById('map'), {zoom: 13, center: uluru});
  window.map = map;
  
  for (var i = 0; i<stations.length ; i++){
               	  var position = stations[i][0].split(",");
                  var name = stations[i][3];
                  var number = stations[i][1];
                  //console.log(number)
				  var lati = Number(position[0]);
				  var lngt = Number(position[1]);
				  var red = {lat: lati, lng: lngt}
				  var infowindow = new google.maps.InfoWindow({
                      content: "Loading..."
                  });
                  var marker = new google.maps.Marker({
                      //position for each marker
                      position: red,
                      map: map,
                      info: 'Station No.' + number+'<br> Name: '+name,
                      name: name,
                      number: number,
                      coord: stations[i][0]
                      
                  });
				  google.maps.event.addListener(marker, "click", function () {
				      //use the variable "info" we populated earlier
				      
				      var p_data = {
    						"position": this.coord
						};
				      window.coord;
				      window.th;
				      window.th = this;
				      window.coord = this.coord;
				      window.name = this.name;
				      window.number = this.number;
				      setCookie('number',window.name);
	    		      setCookie('position',this.coord);
				      //console.log(this.coord)
				    		$.ajax({
				    		    type: 'POST',
				    		    url: '/check_rest',
				    		    data: JSON.stringify(p_data),
				    		    contentType: 'application/json; charset=UTF-8',
				    		    dataType: 'json',
				    		    success: function(data) {
				    		    	var b = $.isEmptyObject(data);
				    		    	if(b){
				    		    		info = "<h3>Position is "+window.coord+" NO information about this station</h3>"+'<button type="button" onclick="displayChart('+window.number+') ;document.getElementById("light").style.display="block";document.getElementById("fade").style.display="block" ">displayChart_Weekly</button>'+'<button type="button" onclick="displayChart_Daily('+window.number+')">displayChart_Daily</button>';
				    		    	}
				    		    	else{
				    		    		info = "This Station now have : "+data[0][2]+" available bike stands"+" <br> "+"This Station now have : "+data[0][3]+" available bikes"+'<br><button type="button" onclick="displayChart('+window.number+')">displayChart_Weekly</button>'+'<br><button type="button" onclick="displayChart_Daily('+window.number+')">displayChart_Daily</button>';
				    		    	}
				    		    	
				    		    	
				    		    	document.getElementById("information").innerHTML = info;
				    		    },
				    		    error: function(xhr, type) {
				    		    	info = "Position is "+window.coord+" NO information about this station"+'<button type="button" onclick="displayChart('+window.number+')">displayChart_Weekly</button>'+'<button type="button" onclick="displayChart_Daily('+window.number+')">displayChart_Daily</button>';
				    		    	document.getElementById("information").innerHTML = info;
				    		    }
				    		});
				    		
				    		infowindow.setContent(this.info);
						    infowindow.open(map, this);
				  });

              }
  
	}
</script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDFJziVkEvhTBxI1JZ_sznFA_Kbm7FWLAM&callback=initMap">
    </script>
    
    <script>
		
	function PlotChart(data_dic){
		new Chart(document.getElementById("line-chart-week"), {
		  type: 'line',
		  data: {
		    labels: ['Monday','Tuesday','Wednesday','Thursday','Friday','Saturday','Sunday'],
		    datasets: [{ 
		        data: [data_dic[0][0],data_dic[1][0],data_dic[2][0],data_dic[3][0],data_dic[4][0],data_dic[5][0],data_dic[6][0]],
		        label: "Available Stands",
		        borderColor: "#3e95cd",
		        fill: false
		      }, { 
		        data: [data_dic[0][1],data_dic[1][1],data_dic[2][1],data_dic[3][1],data_dic[4][1],data_dic[5][1],data_dic[6][1]],
		        label: "Available Bikes",
		        borderColor: "#8e5ea2",
		        fill: false
		      }
		    ]
		  },
		  options: {
		    title: {
		      display: true,
		      text: 'Weekly Data'
		    }
		  }
		});   
		
	}
		</script>
		
		
		<script>
		
	function PlotChart_daily(data_dic){
		new Chart(document.getElementById("line-chart-day"), {
		  type: 'line',
		  data: {
		    labels: ['0h','1h','2h','3h','4h','5h','6h','7h','8h','9h','10h','11h','12h','13h','14h','15h','16h','17h','18h','19h','20h','21h','22h','23h'],
		    datasets: [{ 
		        data: [data_dic[0][0],data_dic[1][0],data_dic[2][0],data_dic[3][0],data_dic[4][0],data_dic[5][0],data_dic[6][0],data_dic[7][0],data_dic[8][0],data_dic[9][0],data_dic[10][0],data_dic[11][0],data_dic[12][0],data_dic[12][0],data_dic[13][0],data_dic[14][0],data_dic[15][0],data_dic[16][0],data_dic[17][0],data_dic[18][0],data_dic[19][0],data_dic[20][0],data_dic[21][0],data_dic[22][0],data_dic[23][0]],
		        label: "Available Stands",
		        borderColor: "#3e95cd",
		        fill: false
		      }, { 
		        data: [data_dic[0][1],data_dic[1][1],data_dic[2][1],data_dic[3][1],data_dic[4][1],data_dic[5][1],data_dic[6][1],data_dic[7][1],data_dic[8][1],data_dic[9][1],data_dic[10][1],data_dic[11][1],data_dic[12][1],data_dic[12][1],data_dic[13][1],data_dic[14][1],data_dic[15][1],data_dic[16][1],data_dic[17][1],data_dic[18][1],data_dic[19][1],data_dic[20][1],data_dic[21][1],data_dic[22][1],data_dic[23][1]],
		        label: "Available Bikes",
		        borderColor: "#8e5ea2",
		        fill: false
		      }
		    ]
		  },
		  options: {
		    title: {
		      display: true,
		      text: 'Daily Data'
		    }
		  }
		});   
		
	}
		</script>
		
		
    
    
    <script>
    function displayChart(number){
    	document.getElementById("chart").innerHTML = "Loading weekly data... The Station " + number;
    	
    	var p_data = {
				"number": number
			};
    	$.ajax({
		    type: 'POST',
		    url: '/check_weekly',
		    data: JSON.stringify(p_data),
		    contentType: 'application/json; charset=UTF-8',
		    dataType: 'json',
		    success: function(data_dic) {
		    	var b = $.isEmptyObject(data_dic);
		    	if(b){
		    		info = 'failure'
		    	}
		    	else{
		    		info = 'success'
		    		//console.log(data_dic)
		    		PlotChart(data_dic)
		    	}
		    	
		    },
		    error: function(xhr, type) {
		    	info = 'error'
		    	document.getElementById("chart").innerHTML = info;
		    }
		    
		    
		    
		    
		    
		});
    }
    
    </script>
    
    <script>
    function displayChart_Daily(number){
    	document.getElementById("chart").innerHTML = "Loading daily data... The Station " + number;
    	
    	var p_data = {
				"number": number
			};
    	$.ajax({
		    type: 'POST',
		    url: '/check_daily',
		    data: JSON.stringify(p_data),
		    contentType: 'application/json; charset=UTF-8',
		    dataType: 'json',
		    success: function(data_dic) {
		    	var b = $.isEmptyObject(data_dic);
		    	if(b){
		    		info = 'failure'
		    	}
		    	else{
		    		info = 'success'
		    		//console.log(data_dic)
		    		PlotChart_daily(data_dic)
		    	}
		    	
		    },
		    error: function(xhr, type) {
		    	info = 'error'
		    	document.getElementById("chart").innerHTML = info;
		    }
		    
		    
		    
		    
		    
		});
    }
    
    </script>
    
    
    
	
    
  </body>
</html>